extends layout

block content
  head

    img.center-block(src='/images/logo.svg' class='logo')

  body 
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-6 associates')
          a(href='roster/associate/create') 
            button.center-block(type="button" class="button") ASSOCIATES
        div(class='col-sm-6 shareholders')
          a(href='/roster/associates') 
            button.center-block(type="button" class="button") SHAREHOLDERS

